html, body {
  height: 100%;
}

body {
  font-family: "Open Sans";
  color: #ceb992;
  direction: ltr;
  background: #5b2e48;
  background: -moz-radial-gradient(center, ellipse farthest-corner, #471323 0%, #360e1a 100%);
  background: -webkit-radial-gradient(center, ellipse farthest-corner, #471323 0%, #360e1a 100%);
  background: radial-gradient(ellipse at center, #471323 0%, #360e1a 100%);
  font-weight: 400;
  background-attachment: fixed;
}
#root {
  height: 100%;
}