html, body {
  height: 100%;
}

body {
  font-family: "Open Sans";
  color: #eef5db;
  direction: ltr;
  background: #3c3744;
  background: -moz-radial-gradient(center, ellipse farthest-corner, #524b5e 0%, #302b38 100%);
  background: -webkit-radial-gradient(center, ellipse farthest-corner, #524b5e 0%, #302b38 100%);
  background: radial-gradient(ellipse at center, #524b5e 0%, #302b38 100%);
  font-weight: 400;
  background-attachment: fixed;
}
#root {
  height: 100%;
}